body {
    background-color: lightslategray;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#wrapper {
    background-color: #fff;
    width: 800px;
    margin: auto;
}
h1, h2, h3, p{
    text-align: center;
}
#logo {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

#nav {
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    text-align: center;
}

#nav a:link {
    color: white;
}

#nav a:visited {
    font-size: 3em;
}

#nav a:hover {
    color: #F00;
}

#content img {
    padding: 10px;
    float: left;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
}